:root {
    --theme-night: #121212;
    --theme-charcoal: #264653;
    --theme-persian-green: #2a9d8f;
    --theme-saffron: #e9c46a;
    --theme-sandy-brown: #f4a261;
    --theme-burnt-sienna: #e76f51;
    --theme-platinum: #e9e9e9;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    height: 82px;
    border-bottom: 2px solid var(--theme-persian-green);
}

/* nav and nav containers */

nav {
    height: 80px;
    background-color: var(--theme-night);

    display: grid;
    grid-template-columns: 120px 1fr 120px 120px 120px 1fr 60px 60px;
    grid-template-rows: 100%;
    gap: 0px 20px;
    justify-items: center;
}

.nav-container {
    min-width: 60px;
    height: 80px;
    background-color: var(--theme-charcoal);

    display: flex;
    justify-content: center;
    vertical-align: center;

    & .nav-link {
        font-size: 20px;
    }
}

/* specific nav containers */

#site-name-nav-container {
    grid-column: 1;
}

#stays-nav-container {
    grid-column: 3;
}

#experiences-nav-container {
    grid-column: 4;
}

#online-experiences-nav-container {
    grid-column: 5;
}

#groundbnb-your-home-nav-container {
    grid-column: 7;
}

#account-dropdown-menu-nav-container {
    grid-column: 8;
}
